# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]

# Modifier preferences
dotnet_style_require_accessibility_modifiers = never:suggestion

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none

# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
